<div *ngIf="ispCardLists" class="carouselParentComp" (window:resize)="onResize($event)" style="padding: 3em;">
  <span [ngClass]="{'cardNavigationVisible' : ispCardLists.length < 4 }" class="leftLst"
    (click)="navButtonClicked($event)"><</span>
  <span [ngClass]="{'cardNavigationVisible' : ispCardLists.length < 4 }" class="rightLst"
    (click)="navButtonClicked($event)">></span>
  <div class="MultiCarousel" data-items="1,2,3,3" data-slide="3" id="MultiCarousel" data-interval="1000" #MultiCarousel>
    <div class="MultiCarousel-inner" id="MultiCarousel-inner" [ngStyle]="multiCarouselInnerStyle()" #MultiCarouselinner>
      <div class="item center-align" *ngFor="let card of ispCardLists" [ngStyle]="itemsStyle()" id="item" #item>
        <div class="pad15" style="height:200px; width :300px">
{{card}}
        </div>
      </div>
    </div>
  </div>
</div>

<!--  data-items tells the number of slides at diffrent resolution for ex at 1200+ resolutions it will show 3 
check responsiveCarouselSize method in ts -->

<!-- data-slide or slide count will determine the number of slides to be slided on click
which can be changed based on condition in cardSlidesCount method -->